[submodule "chad-lockdown-spine"]
	path = chad-lockdown-spine
	url = https://github.com/3thi1xxx/chad-lockdown-spine.git
	branch = main
[submodule "new axiom trade/axiom-trade"]
	path = new axiom trade/axiom-trade
	url = https://github.com/3thi1xxx/axiom-trade.git
	branch = main
[submodule "axiomtrade-archive"]
	path = axiomtrade-archive
	url = https://github.com/3thi1xxx/axiom-trade.git
	branch = main
